@import "tailwindcss";

@theme {
  /* Configuração de Fonte */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  /* Configuração de Cores (Loja Drip) - Trocado vírgulas por ponto e vírgula */
  --color-primary: #C71585;
  --color-dark-gray-2: #A9A9A9;

  /* Configuração de Raio */
  --radius-xl: 0.75rem;
}